.car {
  .cards {
    width: 14rem;
    margin: 10px;
  }
}
.car-listing-height {
  height: calc(100vh - 50px);
  overflow: auto;
  background-color: #f6f7f9;
}
.car-details-height {
  height: calc(100vh - 100px);
  overflow: auto;
  background-color: #e6eaee;
}
.cursor {
  cursor: pointer;
}
.img-fluid {
  height: 600px !important;
}
.down-arrow-before::before {
  content: '\25be ';
}
.down-arrow-after::after {
  content: ' \25be';
}
.row-color:hover {
  background-color: #E5E7E9;
}